/* Common styles */
body {
    background-color: #1E1E1E;
}

.tab {
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 20px; 
}

.work {
    color: #93ABF6;
    text-decoration: underline;
}

.tab:hover {
    text-decoration: underline;
}

/* Header styles */
.header {
    background-color: #333333;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    width: 40px;
    height: auto;
    padding-left: 20px;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.social-icons {
    display: flex;
    align-items: center; 
    padding-right: 20px;
    margin-right: 20px;
}

.linkedin-icon,
.email-icon {
    width: 30px;
    height: auto;
    margin-left: 8px; 
}

.email-icon {
    width: 35px;
}

/* Loading Notification */
.loading-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
}

.waiting-icon {
    width: 10%; 
    height: auto; 
    margin-bottom: 20px; 
}

.in-progress {
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    color: white;
}

/* Footer */
.footer {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    color: white;
    padding: 20px; 
    box-sizing: border-box; 
}

.footer-title {
    font-family: 'Istok Web', sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
}

.footer-description {
    font-family: 'Istok Web', sans-serif; 
    font-size: 20px; 
    margin-top: 10px; 
}

.contact-info {
    display: flex; 
    align-items: center; 
    margin-top: 20px; 
}

.phone-number {
    font-family: 'Istok Web', sans-serif; 
    font-size: 20px;
    margin-left: 10px; 
}

.phone-icon{
    width: 2%;
}