/* General Styles */
body {
    background-color: #1E1E1E;
    color: white;
    font-family: 'Istok Web', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E1E1E;
}

.header-left img {
    width: 50px;
}

.header-middle nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-middle nav ul li {
    display: inline;
    margin-right: 20px;
}

.header-middle nav ul li a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.header-middle nav ul li a.active {
    border-bottom-color: #93ABF6;
    color: #93ABF6;
}

.header-middle nav ul li a:hover {
    text-decoration: underline;
}

.header-right {
    text-align: right; /* Align text to the right */
}

.header-right p {
    font-size: 30px;
    margin-bottom: 20px;
    max-height: 3em; /* Limit to three lines */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for truncated text */
    white-space: nowrap; /* Prevent wrapping */
}


.header-right a:nth-child(1) img {
    width: 30px; /* Adjust the width as needed */
}

/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1E1E1E;
}

.text-section {
    width: 50%; /* Adjust width as needed */
    color: white;
}

.text-section h1 {
    font-size: 70px;
}

.text-section h1 span {
    font-weight: bold;
    color: #93ABF6;
}

.image-section {
    width: 40%; /* Adjust width as needed */
    margin-left: auto; /* Align to the right */
    margin-right: 0; /* Remove margin from the right */
}

.image-section img {
    width: 100%;
    max-width: 300px; /* Limit image width */
    border-radius: 10px; /* Rounded corners */
}

/* Styles for Project Section */
.project-section {
    text-align: center;
    margin-top: 50px;
}

.project-section h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.project-box {
    background-color: #2B2B2B;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.project-content {
    display: flex;
    align-items: center;
}

.project-content img {
    width: 200px;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.project-details h3 {
    font-weight: bold;
    margin: 0;
    color: white;
}

.project-tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #2B2B2B;
    color: #93ABF6;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid #93ABF6;
}

.project-details p {
    margin-top: 10px;
}

/* Styles for Footer Section */
footer {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    text-align: left;
}

.contact-info h3 {
    font-size: 30px;
    color: #93ABF6;
}

.phone-icon {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
}

.phone-icon img {
    width: 20px;
    margin-right: 10px; /* Add some margin between the icon and the phone number */
}