.header{
    display:flex;
    flex-wrap:nowrap; 
    align-items:center;
    flex-direction:row-reverse;
}

.rowFlex{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    gap:50px;
    font-size:30px;
    padding:30px;
}

.colFlex{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    flex-grow:1;
    justify-content:flex-start;
    align-items:flex-end;
}

.rightAlignCol{
    align-self:flex-start;
    align-content:flex-end;
}

.icon{
    width:400px;
}

.line{
    height: 5px;
    background-color: black;
    width:100%;
}


a{
    text-decoration:none;
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    text-align:right;
}

#menuproducts{
    font-weight:bold;
    background-color:#FFFF00;
}

.cartNotif{
    display:flex;
    flex-wrap:nowrap;
}

.menucart{
    display:flex;
    gap:5px;
    justify-content:flex-start;
}

.oval{
    justify-content:flex-end;
    width: 18px;
    height: 25px;
    border-radius: 50%;
    background-color: red; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.oval::before{
  content: '2';
  font-family: Arial, Helvetica, sans-serif;
}

#intro{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    align-items:flex-end;
    padding: 30px;
}

.origpic{
    width: 600px;
    height: 600px;
    border: 3px solid #000000;
}

.mainPage{
    display:flex;
    flex-wrap:nowrap; 
    align-items:center;
    align-content:center;
    flex-direction: row-reverse;
    justify-content:center;
    width:900px; 
    margin:auto;
}

.mainCols{
    display:flex;
    flex-direction:column;
    gap:145px;
}

figcaption{
    flex-direction:row;
    justify-content:flex-end;
    text-align:left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width:200px;
}


#glazingOptions{
    width:190px;
    height:30px;
}

#packageOptions{
    width:190px;
    height:30px;
}

.drop-downs{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    text-align:left;
    align-self:flex-start;
    align-content: flex-end;
    padding-left:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.total{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-align:left;
    align-self:flex-start;
    align-content: flex-end;
    padding:10px;
    gap:10px;
    align-items:baseline;
    font-family: Arial, Helvetica, sans-serif;

}

#price{
    text-align:left;
    font-weight:bold;
    padding:10px;
}

.cart{
    background-color:#FFFF00;
    font-weight:bold;
    width: 150%;
    height:30px;
}
